* {
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: medium none;
    padding: 0;
}
body {
    line-height: 1.6;
}
header, section, footer {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p, a, span, li, sub, sup, small, table, label, input, select, textarea, button, .panel, .notification {
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    text-decoration: none;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}