*, *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body, html{
  width: 100%;
}

body {
    font-size: 62.5%;
    text-align: center;
}
header, section, footer, article {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a, span, li, sub, sup, small, table, label, input, select, textarea, button, .panel, .notification {
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    text-decoration: none;
}


.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}
 
.clearfix:after {
   clear: both;
}
 
.clearfix {
   *zoom: 1;
}

img,
picture,
video,
embed {
   max-width: 100%;
}

.font-title {
  font-size: 3.9em; /*39px*/
}

.font-subTitle {
  font-size: 1.8em; /*18px*/
}

/*********** Profile ***********/

.profile {
    width: 100%;
    text-align: center;
    background-color: #2D3E50;
    color: #fff;
}

.avatar {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px auto;
}

.font-subTitle > a {
    color:#5688B7;
}

.network ul {
    display: inline;
    padding:0px;
    margin:0px;
}

.network ul li {
    display: inline;
}

.network ul li a {
  display:inline-block;
  padding:20px;
  margin: 0;
  color:#5688B7;
}


/*********** Objective ***********/

.objective {
  background-color: #45596d;
  color: #fff;
}

/*********** Skill ***********/

.skill {
  width: 100%;
  
}

.progress-pie-chart {
  margin: 0 auto 10px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}

.progress-pie-chart.gt-50 {
  background-color: #2D3E50;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
  
}

.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #2D3E50;
  transform: rotate(60deg);
}

.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
}

.ppc-percents span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #2D3E50;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}


/*********** Know  - Who-am***********/
.know, .who-am {
  background-color: #E5E5E5;
}




@media (min-width: 445px) and (orientation:landscape) {

  .skill {
    max-width: 500px;
    margin: 0 auto;
  }

  .progress-pie-chart {
    margin: 0 auto 10px 35px;
    float: left;
  }
}
