*, *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
    font-size: 62.5%;
    line-height: 1.0;
}
header, section, footer {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p, a, span, li, sub, sup, small, table, label, input, select, textarea, button, .panel, .notification {
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    text-decoration: none;
}


.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}
 
.clearfix:after {
   clear: both;
}
 
.clearfix {
   *zoom: 1;
}

img,
picture,
video,
embed {
   max-width: 100%;
}

.container {
   max-width: 1128px;
   margin: 0 auto;
   outline: 1px solid blue;
}

/*********** Profile ***********/

.profile {
    
    width: 30.141843972%; /*340px*/ /*1128px*/
    text-align: center;
    outline: 1px solid red;
}

.avatar {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar > img {
    height: 100%;
    width: auto;
}

.name {
    font-size: 3.5em; /*35px*/
}

.age, .city, .contact, .network {
    font-size: 1.7em; /*17px*/
}

.contact > a {
    color:#5688B7;
}

.network ul {
    display: inline;
    padding:0px;
    margin:0px;
}

.network ul li {
    display: inline;
}

.network ul li a {
  display:inline-block;
  padding:20px;
  margin: 0;
  color:#5688B7;
}

