@mixin prefix($property, $parameters) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
    #{$prefix}#{$property}: $parameters;
  }
}


@mixin sprite-icon($x, $y, $width, $height) {
    background-position: $x $y;
    width: $width;
    height: $height;
}



