/* body {
	background: url(../images/bg_bright_blue.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
} */

.wrapper {
	@include container-fixed();

	&-content {
		@include make-row;
	}
}