/* body {
	background: url(../images/bg_bright_blue.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
} */

body {
	font-family: $fonts !important;
}

.wrapper {
	
	@include container-fixed();

	&-content {
		@include make-row;

		&__sidebar {
			h1, small, h4 {
				text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
			}
		}
	}
}

.divider {
    margin: 10px auto;
    border-top: 1px solid rgba(255,255,255,.14);
}

