.wrapper-content { 

	&__main {
		@include make-xs-column(12);
		@include make-md-column(6);
		@include make-lg-column(7);

		> .skin {

			@include make-xs-column(12);
			@include make-md-column(6);

			

			.list-unstyled {
				> li {
					padding: 10px 5px;
				}
			}
		}

		> .article {
			@include make-xs-column(12);
			@include make-md-column(12);

			a {
				color: #000;
			}


			> .media {
				margin-bottom: 30px;

				> .media-left {
					width: 100px;
				}
			}

			> a {
				color: #fff;
			}
		}

		> .share {
			@include make-xs-column(12);
			@include make-md-column(12);
			margin-top: 30px;
			margin-bottom: 30px;

			> iframe {
			    position: relative;
				top: 6px;
			}
		}

	}
}
