.wrapper-content {


	&__sidebar {
		position: fixed !important;
		background-color: #5cb85c;
		color: #fff;
		text-align: center;
		height: 100%;
		overflow: hidden;
		@include make-xs-column(12);
		@include make-md-column(3);

		> .photo {
			margin: 50px auto;
		    width: 200px;
			height: 200px;
			overflow: hidden;
			border: 5px solid;
			border-radius: 50%;
			@include box_shadow();

    		> img {
				height: 100%;
				position: relative;
				left: -15px;
    		}	
		}

		> .social {
			margin-top: 20px;
			> ul {
				display: inline-block;
			    width: 100%;
			    padding-left: 0px;
				> li {
					display:inline;
					padding: 10px 25px;

					> a {
						text-decoration: none;
						color: #fff;
					}
				}
			}
		}

		> .scroll {
			    margin-top: 20px;
    			font-size: 26px;
    			text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    			animation: icon 2s ease-out infinite;
    			@-moz-keyframes icon{0%{font-size:1em}50%{font-size:1.6em}100%{font-size:1em}}
    			@keyframes icon{0%{font-size:1em}50%{font-size:1.6em}100%{font-size:1em}}
		}

	}
}