@charset "UTF-8";
/*************************************************************************************************/
/* Reset */
/*************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Fira Sans', sans-serif;
  *color: #292929;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

/* abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
} */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

main {
  margin-bottom: 30px;
}

/*************************************************************************************************/
/* Message para IE7 */
/*************************************************************************************************/
.browserupgrade_box {
  display: block;
  background: #fff;
  height: 100%;
  position: fixed;
  width: 80%;
  text-align: center;
  padding-top: 150px;
  z-index: 99999;
}

/*************************************************************************************************/
/* Variables   */
/*************************************************************************************************/
.accessibility {
  text-indent: -9999px;
  display: block;
  position: absolute;
}

.hide-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.display-none {
  display: none;
}

.bold {
  font-weight: bold;
}

.load__table {
  position: relative;
  left: 50%;
}

.load__rodada {
  width: 100%;
  text-align: center;
}

.load__carregar-noticias {
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px;
}

.load__center {
  display: block !important;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

.right {
  text-align: right;
}

.no-margin {
  margin: 0 !important;
}

.cor-yellow {
  color: #e9b913;
}

.cor-red {
  color: #ff212a;
}

.cor-green {
  color: #3fa81a;
}

.cor-gray {
  color: #ababab;
}

.w100 {
  width: 100% !important;
}

.on_air {
  font-size: 20px;
  line-height: 28px;
  height: 26px;
  color: #FFF;
  background: #3757aa;
  border-radius: 50%;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
  border-radius: 2.5em;
  text-decoration: none !important;
  max-width: 100%;
  white-space: normal;
  position: relative;
}

/* .owl-nav {
	position: absolute;
	top: 10%;
	width: 100%;
	left: 0;
	display: flex;
	-js-display: flex;
	-js-justify-content: space-between;
	justify-content: space-between;

	.owl-prev, .owl-next {
		font-size: rem(30);
		background: transparent;
	}
} */
.owl-prev, .owl-next {
  position: absolute;
  top: 20%;
  font-size: 1.875rem;
  background: transparent !important;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.owl-page.active span {
  background: #3757aa !important;
}

.owl-controls {
  position: absolute;
  bottom: 30%;
  width: 100%;
  left: 0;
}

.owl-controls .owl-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -js-display: flex;
  -js-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.owl-controls .owl-prev, .owl-controls .owl-next {
  font-size: 1.875rem !important;
  background: transparent !important;
}

/*SPINNER LOADING INFINITE*/
.infinite_spinner {
  position: relative;
}

.infinite_spinner_large {
  width: 80px;
  height: 80px;
}

.infinite_spinner_medium {
  width: 52px;
  height: 52px;
}

.infinite_spinner_small {
  width: 24px;
  height: 24px;
}

.infinite_spinner_spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: 1.2s cubic-bezier(0.25, 0.29, 0.54, 0.86) 0s infinite normal none spin;
  animation: 1.2s cubic-bezier(0.25, 0.29, 0.54, 0.86) 0s infinite normal none spin;
}

.infinite_spinner_tail {
  -webkit-animation: 1.2s cubic-bezier(0.41, 0.24, 0.64, 0.69) 0s infinite normal none spin;
  animation: 1.2s cubic-bezier(0.41, 0.24, 0.64, 0.69) 0s infinite normal none spin;
}

.infinite_spinner_bg, .infinite_spinner_path {
  stroke-width: 8;
  fill: none;
}

.infinite_spinner_white {
  stroke: #fff;
}

.infinite_spinner_blue {
  stroke: #004b88;
}

.infinite_spinner_black {
  stroke: #292929;
}

.infinite_spinner_yellow {
  stroke: #fc4;
}

.infinite_spinner_bg {
  opacity: .2;
  stroke: grey;
}

.infinite_spinner_path {
  stroke-dasharray: 55,200;
  stroke-dashoffset: 90;
  stroke-linecap: round;
}

.infinite_spinner_fast {
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
}

/*************************************************************************************************/
/* Configuração para GRID */
/*************************************************************************************************/
/*************************************************************************************************/
/* Negative Colluns */
/*************************************************************************************************/
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/*************************************************************************************************/
/* Columns */
/*************************************************************************************************/
/*************************************************************************************************/
/* Offset */
/*************************************************************************************************/
/*************************************************************************************************/
/* CONTAINER */
/*************************************************************************************************/
.l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -js-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 100%;
  margin: auto;
}

@media (min-width: 1200px) {
  .l-container {
    width: 1200px;
  }
}

@media (min-width: 1400px) {
  .l-container {
    width: 1300px;
  }
}

/*************************************************************************************************/
/* Class container   */
/*************************************************************************************************/
.l-conteudo {
  /*flex-basis: ($number-of-cols * $grid-column-width);*/
  width: 83.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .l-conteudo {
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .l-conteudo {
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.l-conteudo .listagem__box {
  /*flex-basis: ($number-of-cols * $grid-column-width);*/
  width: 33.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .l-conteudo .listagem__box {
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .l-conteudo .listagem__box {
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.l-conteudo .interna {
  width: 97%;
}

.l-conteudo .interna__box {
  /*flex-basis: ($number-of-cols * $grid-column-width);*/
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.l-conteudo .interna__box--imagem {
  /*flex-basis: ($number-of-cols * $grid-column-width);*/
  width: 41.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .l-conteudo .interna__box--imagem {
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .l-conteudo .interna__box--imagem {
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.l-conteudo .interna__box--descricao {
  /*flex-basis: ($number-of-cols * $grid-column-width);*/
  width: 58.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .l-conteudo .interna__box--descricao {
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .l-conteudo .interna__box--descricao {
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.lateral {
  background: #fff;
  box-shadow: 0 0 10px #dcdcdc;
  position: fixed;
  color: #888;
  height: 100%;
  left: 0;
  /*flex-basis: ($number-of-cols * $grid-column-width);*/
  width: 16.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.lateral__logo {
  padding: 40px 20px;
  text-align: center;
}

.lateral__logo a {
  color: #888;
}

.lateral__logo a img {
  max-width: 60%;
}

.lateral__abremenu {
  display: none;
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 18px;
  color: #888;
}

.lateral__menu--links {
  padding: 0 10px 0 0;
  overflow-y: auto;
  height: 58%;
  position: absolute;
  width: calc(100% - 20px);
}

.lateral__menu--links li {
  margin-bottom: 10px;
}

.lateral__menu--links li a {
  color: #888;
  font-family: "Raleway";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  display: block;
  padding: 5px 0 5px 10px;
  border-left: 4px solid transparent;
}

.lateral__menu--links li a:hover, .lateral__menu--links li a.active {
  border-left: 4px solid #654194;
  color: #333;
}

.lateral__menu--sociais {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 88%;
}

.lateral__menu--sociais li {
  display: inline-block;
  margin: 0 3px;
  max-width: 55px;
  min-width: 55px;
  text-align: center;
}

.lateral__menu--sociais li a {
  background: #dcdcdc;
  color: #888;
  display: block;
  padding: 10px 20px;
  transition: background-color 1s ease-out;
}

.lateral__menu--sociais li a:hover {
  color: #fff;
  background: #654194;
}

.l-conteudo {
  position: absolute;
  display: table;
  height: 100%;
  right: 0;
  background: rgba(101, 65, 148, 0.07);
}

.l-conteudo .conteudo {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-conteudo .conteudo__titulo, .l-conteudo .conteudo__busca {
  /*flex-basis: ($number-of-cols * $grid-column-width);*/
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #888;
}

.l-conteudo .conteudo__titulo h2 {
  font-family: "Raleway";
  font-weight: 700;
}

.l-conteudo .conteudo__busca {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.l-conteudo .conteudo__busca--input {
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: 0 0 5px #dcdcdc;
  font-family: "Raleway";
  font-weight: 500;
}

.l-conteudo .conteudo__busca--botao {
  color: #654194;
  position: absolute;
  margin: 5px 0 0 -10px;
  cursor: pointer;
}

.listagem__box {
  display: inline-block;
  float: left;
  margin-bottom: 35px;
}

.listagem__box--grade {
  box-shadow: 0 0 15px #dcdcdc;
  background: #fff;
}

.listagem__box--grade figure {
  position: relative;
}

.listagem__box--grade figure .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(101, 65, 148, 0.75);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.listagem__box--grade figure .overlay p {
  white-space: nowrap;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: background-color .2s ease-out;
  border: 2px solid #fff;
  padding: 10px 20px;
}

.listagem__box--grade figure .overlay p:hover {
  background: #fff;
  color: #654194;
}

.listagem__box--grade_titulo {
  padding: 20px;
}

.listagem__box--grade_titulo p {
  font-family: "Raleway";
  font-weight: 500;
  color: #888;
}

.listagem__box:hover .overlay {
  bottom: 0;
  height: 100%;
}

.listagem__box:hover p {
  color: #654194;
}

.interna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  color: #888;
}

.interna__box {
  background: #fff;
  box-shadow: 0 0 8px #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  padding: 0 !important;
}

.interna__box--imagem {
  padding: 0 !important;
}

.interna__box--imagem img {
  width: 100%;
}

.interna__box--descricao h3 {
  padding: 45px 30px 30px 30px;
  font-family: "Raleway";
  font-weight: 700;
}

.interna__box--descricao p {
  padding: 0 30px;
  line-height: 21px;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 14px;
}

.interna__box--descricao_tags {
  margin: 0;
  padding: 30px;
}

.interna__box--descricao_tags li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
}

.interna__box--descricao_tags li a {
  background: #654194;
  color: #fff;
  padding: 6px 11px;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 500;
}

@media (max-width: 992px) {
  .lateral {
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .l-conteudo .interna__box {
    display: block;
  }
}

@media (max-width: 767px) {
  .lateral {
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lateral.z-index {
    z-index: 5;
  }
  .lateral__logo {
    padding: 0;
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .lateral__logo a img {
    max-width: 25%;
  }
  .lateral__abremenu {
    display: block;
    cursor: pointer;
  }
  .lateral__menu {
    position: fixed;
    width: 80%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 10px #dcdcdc;
    transition: .5s ease;
    z-index: 4;
  }
  .lateral__menu.show {
    opacity: 1;
    right: 20%;
  }
  .lateral__menu.hide {
    opacity: 0;
    right: 100%;
  }
  .lateral__menu--links {
    padding: 0;
    margin: 30px 0;
    height: 78%;
    width: 90%;
  }
  .lateral__menu--links li {
    margin: 15px;
    list-style: none;
  }
  .l-conteudo {
    margin-top: 50px;
    position: initial;
    display: block;
    height: 100%;
    float: left;
  }
  .l-conteudo .conteudo {
    padding: 30px 0;
    display: inherit;
  }
  .l-conteudo .conteudo__titulo, .l-conteudo .conteudo__busca {
    /*flex-basis: ($number-of-cols * $grid-column-width);*/
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 6px 0;
  }
  .l-conteudo .conteudo__titulo {
    text-align: center;
  }
  .l-conteudo .conteudo__titulo.interna {
    position: fixed;
    z-index: 3;
    top: 12px;
    width: 70%;
    left: 19%;
  }
  .l-conteudo .conteudo__titulo h2 {
    width: 100%;
  }
  .l-conteudo .conteudo__busca {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
  }
  .l-conteudo .conteudo__busca--input {
    width: 100%;
  }
  .l-conteudo .conteudo__busca--botao {
    right: 30px;
  }
  .l-conteudo .interna__box {
    display: block;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: rgba(101, 65, 148, 0.07);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(101, 65, 148, 0.07);
}

::-webkit-scrollbar-thumb {
  background-color: #654194;
}
