*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration : none;
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
	width:100%;
	height: 100%;
	background: linear-gradient(to top, #27E9FF, #27E900);
	font-family: 'Roboto', sans-serif;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	width: 100%;
}

.box__content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	border: 3px solid #262626;
	padding: 15px;
	border-radius: 50%;
}

.box__button {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.box__content_number {
	font-size: 50px;
	color: #262626;
}

.btn{
	margin-top: 30px;
	padding: 10px;
	font-size: 20px;
	border: none;
	text-align:center;
	width:175px;
	cursor:pointer;
	color:#262626;
	font-weight: bold;
	border-radius:10px;
	border-bottom:4px solid #0045A6;
	box-shadow: 6px 6px 6px #262626;
	background: -webkit-linear-gradient(#00C8F8, #0067F7);
    background: -o-linear-gradient(#00C8F8, #0067F7);
    background: -moz-linear-gradient(#00C8F8, #0067F7);
    background: linear-gradient(#00C8F8, #0067F7);
	
	-webkit-transition: background 0.05s linear;  
    -moz-transition: background 0.05s linear;  
    -o-transition: background 0.05s linear;  
    transition: background 0.05s linear;
	
	background-size:1px 200px;
	
	transition: all .05s linear;
}

.btn:hover{
	background-position:100px;
}

.btn:active {
	box-shadow: 2px 2px 2px #777;
	border-bottom:1px solid #0045A6;
	transform: translateY(3px);
	outline: none;
}

#buzzer {
  display: none;
}