*, *:before, *:after { 
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin:0;
   padding: 0;
   list-style: none;
} 
 
html{
  font-family: "Muli",,sans-serif;
} 

body {
    width: 100%;
    font-size: 62.5%;
    text-align: center;
}
header, section, footer, article {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a, span, li, sub, sup, small, table, label, input, select, textarea, button, .panel, .notification {
    font-family: "Muli",sans-serif;
    font-weight: normal;
    text-decoration: none;
}


.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}
 
.clearfix:after {
   clear: both;
}
 
.clearfix {
   *zoom: 1;
}

img,
picture,
video,
embed {
   max-width: 100%;
}

.container {
  width: 100%;
}

.title {
  font-size: 1.8em;
  text-transform: uppercase;
  color: #fff;
}

.box-container {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction:column;
  -moz-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-align-items:center;
  -ms-align-items:center;
  -moz-align-items:center;
  align-items:center;
  justify-content:space-between;
  -webkit-justify-content:space-between;
  -ms-justify-content:space-between; 
  -moz-justify-content:space-between;/*space-between ou space-around*/
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box-service, .box-decription, .box-info-footer, .box-footer-content, .box-2{
  width: 100%;
  padding: 40px;
}

.btn {
    border: 1px solid #000;
    color: #000;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 19px;
    margin: 0px auto;
    width: 180px;
    text-align: center;
    display: block;
    position: relative;
    background: transparent;
}

.btn-lg {
  width: auto;
}

.btn-white {
  border: 1px solid #fff;
  color: #fff;
}

.btn-white:hover {
  background-color: rgba(255,255,255,0.5);
}

.btn-blue {
  border: 1px solid #1b3e6f;
  color: #1b3e6f;
}

.btn-blue:hover {
  background-color: rgba(27,62,111,0.2);
}


.btn-blue-sidebar {
  border: 1px solid #0E76BC;
  color: #0E76BC;
  width: 100%;
  font-size: 14px;
  height: 50px;
}

.btn-blue-sidebar-active {
  background-color: rgba(14,118,188,0.2);
}



/* Header */

.header {
  width: 100%;
  height: 104px;
  background: #fff;
  overflow: hidden;
}

.header-contact { display: none;}

.logo {
  text-align: center;
}

.header-social {
  display: none;
}

.scrollTop {
  z-index: 999;
  position: fixed;
  right: 0px;
  bottom: 20px !important;
  cursor: pointer;
  display: block;
  clear: both;
  text-align: right;
  padding-right: 15px;
  margin-top: 40px;
  color: #1b3e6f;
} 



.nav {
  position: absolute;
  width: 100%;
  height: 45px;
  /* background-color: rgba(14,118,188,0.8); */
  background-color: rgba(0,0,0,0.5);
  /* border-top: 2px solid #00b5e1; */
}

.nav-content {
  display: none;
  background-color: rgba(0,0,0,0.5);
  margin-top: 10px; 
}

.nav-content ul {display:inline;}

.nav-content ul li {
  display: inline;
}

.nav-content ul li a {
  display:block;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding:10px;
  color: #fff;
  font-size: 1.4em;
}

.nav-content ul li a:hover {
  background-color: rgba(255,255,255,0.1);
}

.nav-content li:last-child a {border-bottom: none;}

.nav-toggle {
  display: block;
  font-size: 1.4em;
  color: #fff;
  padding-top: 15px;
}

/* Content */
.title-page {
  height: 130px;
  background-color: #0e76bc;
  text-align: center;
  margin-bottom: 30px;
}

.title-page-fixed {
  position: fixed;
  width: 100%;
  top:0;
  z-index: 99;
}

.page-service {
  height: 190px;
  background-color: #662d91;
  text-align: left;
}

.title-page div img {
  display: inline-block;
  margin-top: 50px;
}

.title-page div span {
  vertical-align: 15px;
  padding: 5px 10px 5px 40px;
}

.menu-banner {
  position: relative;
  z-index: 99;
}

.f-nav { 
  z-index: 9999; 
  position: fixed; 
  top: 0;
  width: 100%; 
}

.flex-caption {
  position: relative;
  margin-top: -20px;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  line-height: 18px;
}

.flex-control-nav {
  display: none;
}

.icon-service {
  display: block;
  background-image: url(../img/diagmonds-light.png);

}

.title-service, .title-description {
  margin-bottom: 50px;
}

.title-service h1, .title-description h1 {
  padding-bottom: 0px; 
  margin: 0; 
  padding-top: 30px;
  display: block;
  color: #0e76bc; 
  font-size: 3.0em; 
  text-transform: uppercase;
}

.title-service p {
  color: #16aee7;
  font-size: 1.9em;
  margin-bottom: 20px;
}

.title-description p{
  color: #adadad;
  font-size: 1.9em;
  margin-bottom: 20px;
}


.title-service span , .title-description span{ position: relative; display: block; width: 120px; background: #0e76bc; height: 2px; margin: 0 auto;}

.box-service {
  height: 325px;
  color: #16aee7;
}

.box-service img {
  margin-bottom: 30px;
}

.box-service img[data-titulo="tv"] {
  position: relative;
  margin-top: -40px;
}

.box-service h2 {
  margin-bottom: 10px;
  font-size: 2.1em;
  text-transform: uppercase;
}


.info-video {
  background-color: #0e76bc;
  width: 100%;
  text-transform: uppercase;  
  color: #fff;
  padding: 40px;
}

.box-decription {
  padding: 10px;
  margin-bottom: 30px;
}

.box-decription figure {
    position: relative;
    overflow: hidden;
    background: #111;
    cursor: pointer;
}


.box-decription figure img {
    position: relative;
    display: block;
    vertical-align: middle;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50px,0,0);
    transform: translate3d(-50px,0,0);
}

.box-decription h2 {
  color: #1b3e6f;
  font-size: 1.8em;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase; 
}

.box-decription p {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.footer-main {
  height: auto;
  background-color: #3594e6;
  color: #fff;
}

.bg-footer-btn {
  background-image: url('../img/footer-orgamento.jpg');
  background-repeat: no-repeat;
  height: 100%;
  text-transform: uppercase;
}

.footer-content {
  width: 100%;
  background: #fff;
}

.box-footer-content, .box-footer-content a{
  color: #3594e6;
  
}

.box-footer-content h2 {
  font-size: 1.4em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.box-footer-content ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.box-footer-content ul li:hover {
    text-decoration: underline;
}

.box-footer-content > a {
    font-size: 1.4em;
    padding-left: 10px;
    text-transform: uppercase;
}

.footer-copyright {
  background: #2262ba;
  padding: 30px 0px 30px 30px;
}

.about {
  font-size: 1.4em;
}

.sidebar-about {
    display: none;
}

.box-text-about {
    text-align: justify;
    line-height: 200%;
    padding: 0px 10px;
}

.box-text-about div {
  margin-bottom: 50px;
}




@media (min-width: 445px) and (orientation:landscape) {
 
}

@media (min-width: 768px) {


    
}

@media (min-width: 1024px) {

  .container {
    width: 1100px;
    margin: 0 auto;
  }

  .logo {
    float: left;
  }

  .line-contact {
    display: block;
    float: right;
    padding-top: 4px;
  }

  .line-contact ul li {
    display: inline;
    font-size: 1.4em;
    color: #fff;
  }

  .line-contact ul li:first-child {
    padding-right: 10px;
    border-right: 1px solid #fff;
  }

  .line-contact ul li:last-child {
    padding-left: 10px;
  }

  .line-contact ul li:last-child:before {
    content: url('../img/icon-arroba-white.png');
    position: relative;
    margin-right: 10px;
    top: 3px;
  }

  .line-contact ul li:first-child:before {
    content: url('../img/icon-call-white.png');
    position: relative;
    margin-right: 10px;
    top: 3px;
  }

  .header-social {
    display: block;
    float: right;
    padding-top: 70px; 
  }

  .header-social ul li {
    display: inline;
    font-size: 1.4em;
    color: #0e76bc;
    padding-left: 10px;
  }

  .nav-toggle {
    display: none;
  } 

  .nav-content {
    display: block;
    position: relative;
    top: 0;
    float: left;
    background-color: transparent;
  }

  .nav-content ul {float: right;}

  .nav-content ul li:first-child:before{
    content: "";
    border-right: none;
  }

  .nav-content ul li:before{
    content: "";
    border-right: 1px solid #fff;
  }

  .nav-content ul li a {
    display:inline-block;
    margin-top: -10px;
    padding:13px;
    font-size: 1.4em;
    color: #fff;
    border-bottom: none;
  }

  .nav-content ul li a:hover {
    background-color: rgba(255,255,255,0.2);
    border-bottom: 2px solid #fff;
  }

  .header {
    height: 140px;
  }

  .header-contact {
    display: block;
    background-color: rgba(14,118,188,0.8);
    width: 100%;
    height: 30px;
  }

  .title-page {
    text-align: left;
  }

  .flex-control-nav {
    display: block;
  }

  .slides li p {
    display: none;
  }

  .box-container {
    flex-direction:row;
    flex-wrap:  wrap;
  }

  .box-service, .box-footer-content  {
    width: 25%;
  }

  .box-decription {
    width: 33%;
  }

  .box-info-footer:first-child {
    width: 60%;
  }

  .box-info-footer:last-child {
    width: 40%;
  }

  .box-footer-content {
    height: 217px;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
  }
  
  .box-footer-content p {
    font-size: 1.2em;
    padding: 0px 40px 40px 10px;
  }

  .footer-copyright p{
    font-size: 1.6em;
    text-align: left;
  }

  .footer-copyright a{
    font-size: 1.6em;
    float: right;
  }


  .about ul li {
    margin-bottom: 10px;
  }

  .sidebar-about {
    display: block;
    float: left;
  }

  .box-text-about {
    float: right;
    width: 65%;
  }

  .text-dooht, .text-performance {
    display: none;
  }


}
